.hero-section {
  .title-wrap {
    margin-bottom: 100px;
  }

  h1 {
    font-size: 40px;
    max-width: 1000px;
    margin-bottom: 30px;
  }

  .subtitle {
    font-size: 20px;
  }

  .content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .row {
    display: flex;
    margin-top: 860px;
  }
}
