<section class="hero-section">
  <div class="container">
    <div class="title-wrap">
      <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolores et eum expedita, officia optio quaerat ullam! A, amet, esse!</h1>
      <span class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis culpa esse eum exercitationem illo illum necessitatibus nemo nihil perferendis porro reiciendis similique vitae, voluptatem voluptatum. Illum omnis saepe tempora. Adipisci atque beatae consectetur cumque deleniti, dolor dolores enim facere ipsam laborum libero nobis provident quasi repellat reprehenderit sit unde. Ad amet assumenda at commodi consequatur cum deleniti dolores, eos ex fugit ipsum laboriosam minima officia quasi quidem, quo repellendus ut. Accusantium ad aliquam asperiores autem blanditiis delectus dignissimos dolore dolorem dolores, doloribus ducimus ex exercitationem facere harum ipsa ipsam iste iure labore laboriosam libero minus modi neque odit, omnis porro provident quae quaerat quia quis quod quos similique sint voluptatem. Dolores error esse expedita laboriosam, libero magni nobis nulla quae sed voluptatum. Assumenda optio, suscipit? Ab amet asperiores commodi consequatur dolor dolore dolores, fugit id ipsum odit rerum similique totam vero! Aliquid, ipsam ipsum iusto laborum laudantium magnam necessitatibus porro quam rerum totam! A accusantium, ad amet architecto beatae eos esse ex, excepturi fuga in ipsam nam nisi officiis porro quam quidem rerum voluptatem. Fugiat ipsa nihil placeat qui velit? Ab accusamus accusantium alias aliquid aut autem beatae deleniti eligendi illo illum itaque minima, minus nostrum, officia porro voluptas.</span>
    </div>
    <div class="content-wrap">
      <div class="img-wrap">
        <img src="../images/hero-img1.jpg" alt="" loading="lazy">
      </div>
      <div class="row">
        <div class="img-wrap">
          <img src="../images/img1.jpg" alt="" loading="lazy">
        </div>
        <div class="img-wrap">
          <img src="../images/img2.jpg" alt="" loading="lazy">
        </div>
      </div>
      <div class="row">
        <div class="img-wrap">
          <img src="../images/img3.jpg" alt="" loading="lazy">
        </div>
        <div class="img-wrap">
          <img src="../images/img4.jpg" alt="" loading="lazy">
        </div>
      </div>

    </div>
  </div>
</section>
